*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:monospace;
background:#020617;
color:#ff6a00;
display:flex;
flex-direction:column;
align-items:center;
min-height:100vh;
}

h1{
margin-top:40px;
font-size:2.2rem;
text-align:center;
border-bottom:2px solid #ff6a00;
padding-bottom:10px;
width:90%;
max-width:600px;
text-shadow:0 0 10px rgba(255,106,0,0.7);
}

.scanner-box{
background:#020617;
border:1px solid #ff6a00;
padding:30px;
margin-top:40px;
width:90%;
max-width:650px;
border-radius:10px;
box-shadow:0 0 15px rgba(255,106,0,0.25);
display:flex;
flex-direction:column;
align-items:center;
}

input{
width:100%;
padding:12px;
border-radius:6px;
border:none;
margin-bottom:15px;
font-size:16px;
}

button{
padding:12px 20px;
border:none;
background:#ff6a00;
color:#000;
font-weight:bold;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#ff3c00;
}

pre{
width:100%;
background:black;
color:#ff6a00;
margin-top:20px;
padding:10px;
border-radius:6px;
height:150px;
overflow:auto;
font-size:14px;
}

.meter{
width:100%;
height:20px;
background:#333;
margin-top:20px;
border-radius:10px;
overflow:hidden;
}

#scoreBar{
height:100%;
width:0%;
background:#ff6a00;
transition:0.4s;
}

ul{
margin-top:20px;
width:100%;
}

li{
margin-bottom:6px;
font-size:14px;
}

/* Mobile optimization */

@media(max-width:600px){

h1{
font-size:1.7rem;
}

.scanner-box{
padding:20px;
}

button{
width:100%;
}

}

#bgVideo{
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
object-fit: cover;
}

.container{
background: rgba(0,0,0,0.6);
backdrop-filter: blur(6px);
}


@media(min-width:900px){

.scanner-box{
padding:40px;
}

pre{
height:180px;
}

}
